.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15em;
}

.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.enter {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-start;
    background-color: #111822;
    border-radius: 5em;
    padding: 5em;
}

#selectPage {
    margin-top: 1em;
    text-decoration-line: underline;
}

.navBar {
    background-color: #111822;
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
    min-width: 50%;
}

.navButtons {
    background: none;
    border: none;
    color: white;
    padding: 1em;
    cursor: pointer;
}

.navButtons:hover {
    opacity: 0.7;
}

.navButtons:active {
    transform: scale(0.9);
}

.dashboard {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    background-color: #111822;
    border-radius: 2em;
    min-width: 30em;
    margin-top: 8em;
}

.display {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 9em;
    align-items: center;
    gap: 3em;
    padding-left: 2em;
    padding-right: 2em;
    border-top: 1px solid #242424;
    max-height: 5em;
    min-height: 5em;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    background-color: #111822;
    border-radius: 2em;
    min-width: 30%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-top: 2em;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

input {
    border-radius: 1em;
}

button {
    background-color: #1F51FF;
}