.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30%;
}

.find {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.enter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    background-color: #111822;
    border-radius: 5rem;
    padding: 5rem;
}

.header {
    color: white;
}

.dashHeader {
    color: white;
    margin-top: 50px;
    text-decoration-line: underline;
}

#selectPage {
    margin-top: 50px;
    text-decoration-line: underline;
}

#homeNavbar {
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #242424;
    height: 200px;
}

.navBar {
    background-color: #111822;
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
    min-width: 50%;
    max-width: 50%;
}

/* #nav_container {
    display: flex;
    flex: 1;
    justify-content: center;
} */

.navButtons {
    background: none;
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
}

.navButtons:hover {
    opacity: 0.7;
}

.homeButtons {
    font-size: xx-large;
    color: white;
    background-color: #242424;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.buttons {
    border: 2px solid;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 20px;
    cursor: pointer;
}

.buttons:hover {
    border-color: white;
}

.buttons:active,
.navButtons:active {
    transform: scale(0.9);
}

.userInput {
    margin-top: 50px;
    border-radius: 10px;
}

.dropbutton {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.margin {
    margin-top: 50px;
}

.column {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    flex-direction: column;
}

.dashboard {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #111822;
    border-radius: 2rem;
    overflow: scroll;
    min-width: 50%;
    margin-top: 8rem;
}

.display {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 9rem;
    align-items: center;
    gap: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-top: 1px solid #242424;
    max-height: 5rem;
    min-height: 5rem;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    background-color: #111822;
    border-radius: 2rem;
    min-width: 50%;
}

.message {
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 2rem;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.top {
    border-top: 1px solid #242424;
}

.text {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    border-radius: 1rem;
}

button {
    background-color: #111822;
}